<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>結果発表</h1>
    <p>if分で多い方が勝ちの条件入れなくては</p>
    <p>OOOの勝ち！</p>
    <p>市民：お題</p>
    <p>プレイヤーの参加人数からランダムに市民と、ウルフに分けた結果を使い表示する</p>


<p>LINEでシェアする</p>
<p>Twitterでシェアする</p>
<button><%= link_to("同じ設定で次のゲームへ", "./word")%></button>
<button><%= link_to("設定に戻る", "/../setting/people")%></button>




</body>
</html>