<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>トーク</h1>
<p>TIME</p>
<p>-</p><p>+</p>
<button>一時停止</button>
<button>スタート</button>
<button><%= link_to("終了", "./vote")%></button>

</body>
</html>