<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>お題</h1>
       <% @players.each do |player| %>
   <div>
      <%= player.content %>さんが見てください。
   </div>
    <% end %>
<p>お題を表示します</p>お題のDBおモデルを作って、コンソールからDB入力してく。
<p>繰り返し処理でお題表示してる系？</p>
<p><%= link_to("表示", "")%></p>

</body>
</html>