<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>プレイヤー設定</h1>
    <p>人数</p>
    人数カウントできるように、
    人数入力して、その数だけ枠が表示されるようにしたい。
　　　each文をさらにeachで囲むことはできるんだっけ？


  <%= form_tag("../setting/people") do %>
     <input type="text" value="" name="content" placeholder="プレイヤー1">
     <input type="submit" value="保存">
  <% end %>


<p><%= link_to("ゲーム設定へ", "./game")%></p>

</body>
</html>