<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>プレイヤー設定</h1>
    <p id ="count">人数</p>

  <div id="input_pluralBox">
    <div id="input_plural">
    　　 <input type="button" value="－" class="del pluralBtn">
        <input type="text" class="form-control" placeholder="プレイヤー１">
        <input type="button" value="＋" class="add pluralBtn">
    </div>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).on("click", ".add", function() {
    $(this).parent().clone(true).insertAfter($(this).parent());
});
$(document).on("click", ".del", function() {
    var target = $(this).parent();
    if (target.parent().children().length > 1) {
        target.remove();
    }
});
</script>
</form>

  <%= form_tag("../setting/people") do %>
     <input type="text" value="" name="content" placeholder="プレイヤー1">
     <input type="submit" value="保存">
  <% end %>


<p><%= link_to("ゲーム設定へ", "./game")%></p>

</body>
</html>